body {
  text-align: center;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

btn {
  font-family: monospace;
}

.controls { // wrapper for control buttons
  display: inline-block;
  user-select: none;
}

.hidden {
  display: none !important;
}

.btn {
  display: inline-block;
  cursor: pointer;
  user-select: none;
}

.btn:hover {
  text-decoration: underline;
}

.victory-message {
  font-size: 4em;
}

.node {
  background-color: inherit;
}

.node.unvisited {
  background-color: black;
}

.node.north-wall {
  border-top: 1px solid black;
}

.node.east-wall {
  border-right: 1px solid black;
}

.node.south-wall {
  border-bottom: 1px solid black;
}

.node.west-wall {
  border-left: 1px solid black;
}

.node.avatar {
  background-color: green;
  overflow: hidden;
}

.node.avatar:after {
/*
 * content: "💩";
 */
}

table {
  display: inline-block;
  border-spacing: 0px;
  border: 2px solid black;
}

.row {
}

.easy .node {
  height: 4em;
  width: 4em;
}

.medium .node {
  height: 2em;
  width: 2em;
}

.difficult .node {
  height: 1em;
  width: 1em;
}

.ridiculous .node {
  height: 0.675em;
  width: 0.675em;
}

.node.active {
  background-color: red;
}

.node.end-node {
  background-color: red;
}
