body {
  text-align: center;
}

* {
  box-sizing: border-box;
}

td {
  padding: 0px;
}

.node.north-wall {
  border-top: 2px solid black;
}

.node.east-wall {
  border-right: 2px solid black;
}

.node.south-wall {
  border-bottom: 2px solid black;
}

.node.west-wall {
  border-left: 2px solid black;
}

.node.start-node {}

.node.avatar {
  background-color: green;
}

table {
  display: inline-block;
  border-spacing: 0px;
}

.row {
}

.node {
  background-color: white;
  height: 1em;
  width: 1em;
  border: 2px solid white;
  transition: border-color 1s;
}

.node.end-node {
  background-color: red;
}
