body {
  text-align: center;
}

* {
  box-sizing: border-box;
}

td {
  padding: 0px;
}

td.north-wall {
  border-top: 2px solid black;
}

td.east-wall {
  border-right: 2px solid black;
}

td.south-wall {
  border-bottom: 2px solid black;
}

td.west-wall {
  border-left: 2px solid black;
}

td.start-node {
  background-color: green;
}

table {
  display: inline-block;
  border-spacing: 0px;
}

.row {
}

.node {
  background-color: white;
  height: 2em;
  width: 2em;
}
