body {
  text-align: center;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0px;
}

.hidden {
  display: none;
}

.victory-message {
  font-size: 100px;
}

.node.north-wall {
  border-top: 2px solid black;
}

.node.east-wall {
  border-right: 2px solid black;
}

.node.south-wall {
  border-bottom: 2px solid black;
}

.node.west-wall {
  border-left: 2px solid black;
}

.node.start-node {}

.node.avatar {
  background-color: green;
}

table {
  display: inline-block;
  border-spacing: 0px;
  border: 2px solid black;
}

.row {
}

.easy .node {
  height: 4em;
  width: 4em;
}

.medium .node {
  height: 2em;
  width: 2em;
}

.difficult .node {
  height: 1em;
  width: 1em;
}

.node {
  background-color: white;
  transition: background-color 0.25s;
}

.node.active {
  background-color: #555;
}

.node.end-node {
  background-color: red;
}
